.grid {
    display: grid;
    grid-gap: 1em;

    &.-two { grid-template-columns: repeat(2, 1fr); }
    &.-three { grid-template-columns: repeat(3, 1fr); }
    &.-four { grid-template-columns: repeat(4, 1fr); }

    &-item {
        background-color: silver;
        min-height: 200px;
    }
}
