@use '../extend/control';
@use '../abstract/color';
@use '../abstract/border';


.button {
    @extend %control-base;

    @include border.none;

    cursor: pointer;

    &.-primary {
        color: color.$button-primary-text;
        background-color: color.$button-primary;

        &:hover {
            background-color: color.$button-primary-hover;
        }

        &:active {
            background-color: color.$button-primary-active;
        }
    }


    &.-secondary {
        color: color.$button-secondary-text;
        background-color: color.$button-secondary;

        &:hover {
            background-color: color.$button-secondary-hover;
        }

        &:active {
            background-color: color.$button-secondary-active;
        }
    }

    &:disabled {
        cursor: not-allowed;

        &,
        &:hover,
        &:active {
            @include control.disabled();
        }
    }
}
