@use '../extend/control';
@use '../abstract/border';
@use '../abstract/color';


.input {
    @extend %control-base;

    @include border.around;

    background-color: color.$white;
    width: 100%;
    display: block;

    &:disabled {
        cursor: not-allowed;
    }

    // &:read-only,
    &:disabled {
        box-shadow: none;

        &,
        &:hover,
        &:active {
            @include control.disabled();
        }
    }
}
