// Base
@use './base';


// Elements
@use './element/button';
@use './element/input';
@use './element/label';
@use './element/error';
@use './element/checkbox';


// Components
@use './component/navbar';
@use './component/product';


// Layouts
@use './layout/box';
@use './layout/form';
@use './layout/grid';
@use './layout/flow';
@use './layout/container';



.hscroll {
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

.drawer {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    display: none;

    &.-open {
        display: block;
    }
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}


section {
    margin: 1rem 0;
}

.no-select {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

